{% extends 'base.html.twig' %}

{% block title %}Swift Mailer{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 200px;">
        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }}">
                {% for message in messages %}

                    <p>{{ message | raw }}</p>

                {% endfor %}
            </div>
        {% endfor %}
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title text-center">Envoyer un mail avec Swift Mailer</h4>
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.content) }}
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
